{% {% extends "layout.html.twig" %}
%}

{% block titre_page %}
	Axolit - Erreur 404
{% endblock %}


{% block link_css %}
	<link href="{{ asset('./css/404.css')}}" rel="stylesheet">
{% endblock %}

{% block contenu %}
	<div class="container">
		<div class="column justify-content-center">
			<h1 class="text-center quatrecentquatre">
				Mince Votre page est introuvable
			</h1>
			<p class="text-center">
				<a class="quatrecentquatre" href="index.html">
					Mais voici une page qui est toujours disponible !
				</a>
			</p>
			<div class="row justify-content-center fixed-bottom">
				<div id="img404" class="col-sm-4 col-xs-1"></div>
			</div>
		</div>
	</div>


	<script type="text/javascript" language="javascript">
		document.getElementById('img404').innerHTML = '<img src="img/404/image' + Math.round((Math.random() * 3) + 1) + '.jpg" id="imgq" alt="photo chien" class="img-fluid col-12" />';
// document.getElementById('imgq').src = "imag/404/image" + Math.floor((Math.random()*11)+1) + ".jpg";
	</script>
{% endblock %}
