{% extends "layout.html.twig" %}
{% block titre_page %}
	Axolit - Contact
{% endblock %}

{% block accueil %}
	class="btn btn-rose "
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}
{% block contenu %}

	<div class="container">
		<div class="card">
			<div class="card-header">
				Contact
			</div>

			<div class="card-body">
				<h4>
					Une question ? Besoin d'information ? Ou pour toute autre demande ...
					<br>
					Vous pouvez nous contacter sur nos réseaux sociaux ou par mail à l'adresse suivante : <b>contact.axolit@gmail.com</b>
					<br>
				</h4>
			</div>
		</div>
	</div>


{% endblock %}
