{% extends "layout.html.twig"%}
{% block titre_page %}
	Axolit - Mentions légales
{% endblock %}

{% block accueil %}
	class="btn btn-rose  "
{% endblock %}
{% block vendre %}
	class="btn btn-rose "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}

{% block contenu %}
	<div class="container">
		<div class="card">
			<h5 class="card-header">
				Mentions légales
			</h5>
			<div class="card-body">
				<h3>
					Editeur
				</h3>
				<p>
					AxolIT
					<br>
					25, rue de Naudet
					<br>
					33170 Gradignan
					<br>
					<br>
					Directeur de la publication: Groupe AxolIT
				</p>
				<br>
				<h3>
					Hébergement
				</h3>
				<p>
					IUT Gradignan
					<br>
					25, rue de Naudet
					<br>
					33170 Gradignan
					<br>
					www.iut.u-bordeaux.fr
				</p>
				<h3>
					Crédits
				</h3>
				<p>
					Visuels : Propriété d'AxolIT
					<br>
					Illustrations : Groupe AxolIT
				</p>
				<h3>
					Utilisation des données
				</h3>
				<p>
					Les données recueillies ne seront pas utilisées pour des fins commerciales
					<br>
					ou autre. Elles seront utilisées uniquement pour ce site.
					<br>

				</p>
			</div>
		</div>
	</div>
{% endblock %}
