{% extends "profil.html.twig" %}

{% block photo_profil %}src="./css/images/profil/photo_profil2.png"{% endblock %}
{% block nom %}Adrien Lobser{% endblock %}
{% block ville %}Pessac, 33600{% endblock %}
{% block numeroTelephone %}06.12.12.12.12{% endblock %}
{% block adresseMail %}nom@example.com{% endblock %}

{% block competences %}
<li>
    Réparer téléphone
</li>
<li>
    Changer vitre
</li>
{% endblock %}

{% block dejaRepare1Titre %}Samsung{% endblock %}
{% block dejaRepare1Description %}Problème avec la batterie.{% endblock %}
{% block dejaRepare2Titre %}Dell{% endblock %}
{% block dejaRepare2Description %}L'écran de mon ordinateur ne s'allume pas.{% endblock %}

{% block commentaire1Nom %}Cindy{% endblock %}
{% block commentaire1Description %}Ordinateur réparé rapidement mais un peu cher pour le marché d'après moi, néanmoins merci beaucoup !{% endblock %}
{% block commentaire2Nom %}Ludo{% endblock %}
{% block commentaire2Description %}Je recommande, réparation rapide et efficace.{% endblock %}

{% block autreReparateur1Nom %}Tom Nguyen{% endblock %}
{% block autreReparateur2Nom %}John Doe{% endblock %}
{% block autreReparateur1Ville %}Bordeaux, 33000{% endblock %}
{% block autreReparateur2Ville %}Bordeaux, 33000{% endblock %}

{% block autreReparateur1PhotoProfil %}src="./css/images/profil/photo_profil.jpg"{% endblock %}
{% block autreReparateur2PhotoProfil %}src="./css/images/profil/photo_profil3.png"{% endblock %}

{% block pageProfil1 %}href="profil1.php"{% endblock %}
{% block pageProfil2 %}href="profil3.php"{% endblock %}

{% block repare1 %}src="img/telephone.jpg"{% endblock %}
{% block repare2 %}src="./css/images/dell.jpeg"{% endblock %}