{% extends "profil.html.twig" %}

{% block photo_profil %}src="{{asset('css/images/profil/photo_profil3.png')}}"{% endblock %}
{% block nom %}Jonh Doe{% endblock %}
{% block ville %}Pessac, 33600{% endblock %}
{% block numeroTelephone %}06.05.04.03.02{% endblock %}
{% block adresseMail %}jdoe@example.com{% endblock %}

{% block competences %}
<li>
    Réparer ordinateur
</li>
<li>
    Réparer tablette
</li>
<li>
    Changer batteries
</li>
<li>
    Changer vitre
</li>
{% endblock %}

{% block dejaRepare1Titre %}Acer{% endblock %}
{% block dejaRepare1Description %}Problème avec la batterie.{% endblock %}
{% block dejaRepare2Titre %}iPad Pro{% endblock %}
{% block dejaRepare2Description %}Vitre avant cassée et vitre arrière de l’appareil photo fissuré{% endblock %}

{% block commentaire1Nom %}Laura{% endblock %}
{% block commentaire1Description %}Super service !{% endblock %}
{% block commentaire2Nom %}Ludo{% endblock %}
{% block commentaire2Description %}Réparation rapide{% endblock %}

{% block autreReparateur1Nom %}Tom Nguyen{% endblock %}
{% block autreReparateur2Nom %}Adrien Lobser{% endblock %}
{% block autreReparateur1Ville %}Bordeaux, 33000{% endblock %}
{% block autreReparateur2Ville %}Bordeaux, 33000{% endblock %}
{% block autreReparateur1PhotoProfil %}src="./css/images/profil/photo_profil.jpg"{% endblock %}
{% block autreReparateur2PhotoProfil %}src="./css/images/profil/photo_profil2.png"{% endblock %}

{% block pageProfil1 %}href="profil1.php"{% endblock %}
{% block pageProfil2 %}href="profil2.php"{% endblock %}

{% block repare1 %}src="./css/images/ordinateuracer.jpg"{% endblock %}
{% block repare2 %}src="./css/images/ipad_pro.png"{% endblock %}