{% extends "layout.html.twig" %}

{% block titre_page %}
	Axolit - Vendre
{% endblock %}

{% block link_css %}
	<link href="./css/vendre.css" rel="stylesheet">
{% endblock %}
{% block accueil %}
	class="btn btn-rose "
{% endblock %}
{% block vendre %}
	class="btn btn-rose active "
{% endblock %}
{% block acheter %}
	class="btn btn-rose "
{% endblock %}
{% block reparer %}
	class="btn btn-rose "
{% endblock %}
{% block contenu %}

	<div class="container">
		<div class="row sous-categorie">

			<div class="col-md-11 offset-md-1">
				<h1>
					Besoin de vendre un appareil ?
				</h1>
				<br>
				<p>
					Vous pouvez déposer une annonce pour vendre un appareil ici !
				</p>

				<br>
			</div>
		</div>
		{% include "default/annonce/annonce_vente.html.twig" %}

	</div>
	<br>

{% endblock %}
